* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 2em;
    border: 2px solid rgb(23, 182, 23);
}

header {
    background-color: burlywood;
    text-align: center;
    padding: 20px;
}

footer {
    text-align: center;
    background-color: coral;
    padding: 15px
}

p {
    background-color: azure;
    border: 2px solid black;
    width: 150px;
    height: 25px;
    padding: 3.2px;
}

input, select {
    width: 150px;
    height: 25px;
    border: 2px solid goldenrod;
    border-radius: 2em;
    padding-left: 5px;
}

button {
    width: 170px;
    height: 33px;
    background-color: yellow;
    font-size: large;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    transition: 0.2s;
    background-color: hotpink;
}

.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: beige;

}

.contenedor div {
    margin: 2em;
    text-align: center;
}

.registros {
    background-color: blanchedalmond;
}

#subTotalGeneral, #totalComisionGeneral, #totalPagarGeneral {
    margin: 1.5em;
    width: 180px;
    padding: 3.2px;
}
